a{
    cursor:pointer;
}
#NavBox {
    width: 100%;
    height: 60px;
    background: url(/static/djimages/tjdj201801_navbg.jpg) no-repeat top center;
    margin:  0px  0px 20px 0px;
}
#logo {
    float: left;
    margin: 20px 0px 0px 0px;
    display: inline;
}

#nav {
    width: 100%;
    height: 60px;
    margin: 0 11%;
}
#nav li {
    float: left;
    width: 135px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: url(/static/djimages/tjdj201801_navicon.png) no-repeat center right;
}
#nav li a:hover {
    color: #ffeb00;
}

#nav li a {
    color: #fff;
}
a, a:hover {
    text-decoration: none;
}
.footer-content {
    margin-left: 14px;
    float: left;
}
.footer-content p {
    text-align: left;
    font-size: 13px;
    color: #333333;
    line-height: 20px;
}